<?xml version="1.0"?>
<config>

    <modules>
	<LKC_PerGroupShipping>
	    <version>4.0.0</version>
	    <!--
	    This belong in /app/etc/modules/LKC_PerGroupShipping.xml
	    <active>true</active>
	    <codePool>local</codePool>
	    <depends>
		    <Mage_Core />
		    <Mage_Eav />
		    <Mage_Catalog />
		    <Mage_Adminhtml />
		    <LKC_ShippingAdjustmentsCore />
	    </depends>
	    -->
	</LKC_PerGroupShipping>
    </modules>

    <admin>
	<routers>
	    <adminhtml>
		<args>
		    <modules>
			<LKC_PerGroupShipping_Admin before="Mage_Adminhtml">LKC_PerGroupShipping_Admin</LKC_PerGroupShipping_Admin>
		    </modules>
		</args>
	    </adminhtml>
	</routers>
    </admin>

    <adminhtml>
	<translate>
	    <modules>
		<LKC_PerGroupShipping>
		    <files>
			<default>LKC_PerGroupShipping.csv</default>
		    </files>
		</LKC_PerGroupShipping>
	    </modules>
	</translate>
	<menu>
	    <catalog>
		<children>
		    <lkc_sa_pg translate="title" module="LKC_PerGroupShipping">
			<title>Shipping Adjustment Groups</title>
			<action>admin/shippingAdjustmentGroup</action>
			<sort_order>600</sort_order>
		    </lkc_sa_pg>
		</children>
	    </catalog>
	</menu>
	<acl>
	    <resources>
		<admin>
		    <children>
			<catalog>
			    <children>
				<lkc_sa_pg translate="title" module="LKC_PerGroupShipping">
				    <title>Shipping Adjustment Groups</title>
				    <sort_order>500</sort_order>
				</lkc_sa_pg>
			    </children>
			</catalog>
		    </children>
		</admin>
	    </resources>
	</acl>
    </adminhtml>

    <global>
	<resources>
	    <LKC_PerGroupShipping>
		<setup>
		    <module>LKC_PerGroupShipping</module>
		    <class>Mage_Eav_Model_Entity_Setup</class>
		</setup>
		<connection>
		    <use>core_setup</use>
		</connection>
	    </LKC_PerGroupShipping>
	    <LKC_PerGroupShipping_write>
		<connection>
		    <use>core_write</use>
		</connection>
	    </LKC_PerGroupShipping_write>
	    <LKC_PerGroupShipping_read>
		<connection>
		    <use>core_read</use>
		</connection>
	    </LKC_PerGroupShipping_read>
	</resources>
	<models>
	    <LKC_PerGroupShipping>
		<class>LKC_PerGroupShipping_Model</class>
		<resourceModel>LKC_PerGroupShipping_mysql4</resourceModel>
	    </LKC_PerGroupShipping>
	    <LKC_PerGroupShipping_mysql4>
		<class>LKC_PerGroupShipping_Model_Mysql4</class>
		<entities>
		    <Group>
			<table>lkc_sa_groups</table>
		    </Group>
		</entities>
	    </LKC_PerGroupShipping_mysql4>
	</models>
	<helpers>
	    <LKC_PerGroupShipping>
		<class>LKC_PerGroupShipping_Helper</class>
	    </LKC_PerGroupShipping>
	</helpers>
	<blocks>
	    <LKC_PerGroupShipping_Admin>
		<class>LKC_PerGroupShipping_Block_Admin</class>
	    </LKC_PerGroupShipping_Admin>
	</blocks>
    </global>

    <frontend>
	<events>
	    <lkc_shippingadjustments_raterequest_filter>
		<observers>
		    <LKC_PerGroupShipping>
			<type>singleton</type>
			<class>LKC_PerGroupShipping/Observer</class>
			<method>filterRateRequest</method>
		    </LKC_PerGroupShipping>
		</observers>
	    </lkc_shippingadjustments_raterequest_filter>
	    <lkc_shippingadjustments_adjustment_calculate>
		<observers>
		    <LKC_PerGroupShipping>
			<type>singleton</type>
			<class>LKC_PerGroupShipping/Observer</class>
			<method>calculateAdjustment</method>
		    </LKC_PerGroupShipping>
		</observers>
	    </lkc_shippingadjustments_adjustment_calculate>
	</events>
    </frontend>

    <default>
	<shipping>
	    <lkc_shippingadjustments>
		<active>0</active>
		<default_adjustment>0.00</default_adjustment>
		<shipping_methods />
	    </lkc_shippingadjustments>
	</shipping>
    </default>

</config>