<?xml version="1.0"?>
<config>
    <modules>
        <Lokey_PerGroupShipping>
            <version>5.0.1</version>
        </Lokey_PerGroupShipping>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Lokey_PerGroupShipping before="Mage_Adminhtml">Lokey_PerGroupShipping_Admin</Lokey_PerGroupShipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Lokey_PerGroupShipping>
                    <files>
                        <default>Lokey/PerGroupShipping.csv</default>
                    </files>
                </Lokey_PerGroupShipping>
            </modules>
        </translate>
        <menu>
            <catalog>
                <children>
                    <lokey_sa_pg translate="title" module="Lokey_PerGroupShipping">
                        <title>Shipping Adjustment Groups</title>
                        <action>adminhtml/shippingAdjustmentGroup</action>
                        <sort_order>600</sort_order>
                    </lokey_sa_pg>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <lokey_sa_pg translate="title" module="Lokey_PerGroupShipping">
                                    <title>Shipping Adjustment Groups</title>
                                    <sort_order>500</sort_order>
                                </lokey_sa_pg>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <resources>
            <Lokey_PerGroupShipping>
                <setup>
                    <module>Lokey_PerGroupShipping</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Lokey_PerGroupShipping>
            <Lokey_PerGroupShipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Lokey_PerGroupShipping_write>
            <Lokey_PerGroupShipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Lokey_PerGroupShipping_read>
        </resources>
        <models>
            <Lokey_PerGroupShipping>
                <class>Lokey_PerGroupShipping_Model</class>
                <resourceModel>Lokey_PerGroupShipping_Resource</resourceModel>
            </Lokey_PerGroupShipping>
            <Lokey_PerGroupShipping_Resource>
                <class>Lokey_PerGroupShipping_Model_Mysql4</class>
                <entities>
                    <Group>
                        <table>lokey_sa_groups</table>
                    </Group>
                </entities>
            </Lokey_PerGroupShipping_Resource>
        </models>
        <helpers>
            <Lokey_PerGroupShipping>
                <class>Lokey_PerGroupShipping_Helper</class>
            </Lokey_PerGroupShipping>
        </helpers>
        <blocks>
            <Lokey_PerGroupShipping>
                <class>Lokey_PerGroupShipping_Block</class>
            </Lokey_PerGroupShipping>
        </blocks>
    </global>
    <frontend>
        <events>
            <lokey_shippingadjustments_raterequest_filter>
                <observers>
                    <Lokey_PerGroupShipping>
                        <type>singleton</type>
                        <class>Lokey_PerGroupShipping/Observer</class>
                        <method>filterRateRequest</method>
                    </Lokey_PerGroupShipping>
                </observers>
            </lokey_shippingadjustments_raterequest_filter>
            <lokey_shippingadjustments_adjustment_calculate>
                <observers>
                    <Lokey_PerGroupShipping>
                        <type>singleton</type>
                        <class>Lokey_PerGroupShipping/Observer</class>
                        <method>calculateAdjustment</method>
                    </Lokey_PerGroupShipping>
                </observers>
            </lokey_shippingadjustments_adjustment_calculate>
        </events>
    </frontend>
    <default>
        <shipping>
            <lokey_shippingadjustments>
                <active>0</active>
                <default_adjustment>0.00</default_adjustment>
                <shipping_methods/>
            </lokey_shippingadjustments>
        </shipping>
    </default>
</config>
